.xyz{
    color: brown;
}
.for{

    border: solid black 2px;
    background-color: cornflowerblue;
}
.tlb{
    border: solid black 3px;
}
.ts1{
    color: chartreuse;
}
.ts2{
    color: darkorange;
    background-color: blue;
}